@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Open Sans', sans-serif;
}

div {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .header {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #39809E;
  text-decoration: none;
}

a:hover {
  color: #39809E;
  text-decoration: underline;
}

div.about { 
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

.navbar-logo {
     max-width:48px;
     max-height:48px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover.dropdown-menu > .active > a:focus {
  color: #555555!important; 
  background-color: #e7e7e7!important;
}